<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>About</title>
</head>
<body>
<div class="jumbotron text-center" >
        <h2>{{ message }}</h2>

        
 <!--           <p ng-repeat=" cars in data">{{cars.make}}</p> -->
  <!--         <p ng-repeat=" cars in data">{{cars.model}}</p> -->
   <!--        <p ng-repeat=" cars in data">{{cars.description}}</p> -->
    <center>
   <table border=1>
   
  <tr>
      <th>Make</th>
      <th>Model</th>
      <th>Description</th>
   </tr>
  <tr ng-repeat="cars in data">
    <td>{{ cars.make }}</td>
    <td>{{ cars.model }}</td>
    <td>{{ cars.description }}</td>
    
  </tr>
</table>

</center>


         
         
       
        
    </div>
</body>
</html>